<div>
	<nav class="navbar navbar-expand-sm bg-default">
		<div class="container-sm">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link text-light" [routerLink]="'/'">Trang chủ</a>
				</li>
				<li class="nav-item">
					<div ngbDropdown>
						<a class="nav-link text-light" href="#" role="button" ngbDropdownToggle>
							Danh mục
						</a>
						<div ngbDropdownMenu *ngIf="!isLoading" >
							<button ngbDropdownItem *ngFor="let item of categoryList; let i = index;">
								{{i + 1}} . {{ item?.name }}
							</button>
						</div>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link text-light" [routerLink]="'/register'">Đăng ký</a>
				</li>
			</ul>
		</div>
		<form class="d-flex w-50" [formGroup]="form" (keyup.enter)="search()">
			<input type="text" class="form-control m-2" placeholder="Tìm kiếm theo tên truyện, danh mục" formControlName="keyword"/>
			<button class="btn m-2 bg-light text-dark" (click)="search()">
				<i class="bi bi-search"></i>
			</button>
		</form>
	</nav>
</div>

<app-spinner [isLoading]="isLoading"></app-spinner>
